:root {
    --ffoswald: "Oswald", sans-serif;
    --ffpoppins: "Poppins", sans-serif;
    --ffroboto: "Roboto", sans-serif;


    --js-yellow: #F7DF1E;


    --clr-white: white;
    --clr-black: black;
    --clr-white-body: white;
    --clr-red: red;


    --clr-code-head: #2F2F2F;
    --clr-code-head-txt: #B4B4B4;
    --clr-codered-txt: #f22c3d;
    --clr-codeblue-txt: #2e95d3;
    --clr-codegreen-txt: #00a67d;





    --glassy-bg-clr: rgba(0, 0, 0, 0.1);




}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    scroll-behavior: smooth;
    user-select: none;
}



svg {
    height: 35px;
    width: 35px;
    fill: var(--clr-black);
}

img {
    width: 100%;
}

a {
    text-decoration: none;
    color: unset;
}

.mixbm {
    mix-blend-mode: hard-light;
}

h3 {
    margin: 12px 0;
    text-decoration: underline;
}

h3::after {
    content: ':';
}

p {
    margin: 4px 0;
}

.imp {
    color: var(--clr-red);
}






body {
    font-family: var(--ffpoppins);
    background: var(--clr-white-body);
    color: var(--clr-black);
    transition: color 0.5s ease, background-color 0.5s ease;
    max-width: 1800px;
    margin: auto;
}

header {
    height: 64px;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    background: var(--clr-white);

    z-index: 10;
    transition: color 0.5s ease, background-color 0.5s ease;
}

.header-logo-cnt {
    height: 64px;
    width: 64px;
    padding: 12px;
    display: grid;
    place-content: center;
}

.header-logo-cnt a {
    display: grid;
    place-content: center;
}

.header-logo-cnt img {
    width: 40px;
}

.header-menu-icon {
    height: 64px;
    width: 64px;
    display: grid;
    place-content: center;
    z-index: inherit;
    opacity: 1;
    transition: all .3s ease;
}

.header-menu-icon svg {
    height: 47px;
    width: 47px;
    padding: 12px;
    cursor: pointer;
}

.header-sidebar-cnt {
    height: 100vh;
    width: 100%;
    position: fixed;
    visibility: hidden;
    overflow-x: hidden;
    backdrop-filter: brightness(.5) blur(2px);
}

.header-main-sidebar {
    height: 100%;
    width: 280px;
    float: right;
    transform: translate(280px);
    transition: all .3s ease;
    background: var(--clr-white);
}

.close-icon-cnt {
    height: 64px;
    width: 64px;
    display: grid;
    place-content: center;
    margin-left: auto;
}

.close-icon-cnt svg {
    height: 47px;
    width: 47px;
    padding: 12px;
    cursor: pointer;
}

.sideber-userDetails-cnt {
    padding: 6px;
    height: 150px;
    margin-top: -64px;
    display: flex;
    align-items: end;
    background: linear-gradient(transparent, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.85));
    background-position: center;
    background-size: cover;
    position: relative;
    color: white;
}

.sideber-userDetails-cnt svg {
    fill: white;
}










/* profile container styles */
.userIconCnt {
    height: 60px;
    width: 50px;
    display: grid;
    place-content: center;
    position: relative;
}

.userIconCnt svg {
    background: red;
    height: 38px;
    width: 38px;
    border-radius: 50%;
    padding: 6px;
}

.profilePicCnt {
    height: 38px;
    width: 38px;
    position: absolute;
    border-radius: 50%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.userNameandBio {
    height: 60px;
    width: calc(100% - 50px);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.userName {
    font-size: 1.6em;
    font-weight: 500;
    line-height: 24px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.userBio {
    font-size: .85em;
    padding-left: 2px;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 160px;
}




/* nav navigators styles */
.nav-navigators {
    padding: 12px;
}

.nav-ancr {
    padding: 8px;
    display: block;
    margin-bottom: 12px;
    text-wrap: nowrap;
    text-overflow: ellipsis;
    position: relative;
    padding-left: 35px;
    border-radius: 6px;
    background: var(--glassy-bg-clr);
    transition: all .2s ease;
}

.nav-ancr:hover {
    background: var(--js-yellow);
    color: black;
}

















main {
    user-select: text;
}

section {
    padding: 12px;
}

.main-title {
    font-size: 3em;
    text-align: center;
}

.sec-head {
    height: 64px;
    display: grid;
    place-content: center;
    position: sticky;
    top: 0;
    z-index: 100;
    width: fit-content;
    margin: auto;


    animation: sec-head-font linear;
    animation-timeline: view();
    animation-range-start: 100vh;
}

@keyframes sec-head-font {
    10% {
        font-size: .85em;
        margin-right: 40px;
    }

    100% {
        font-size: .85em;
        margin-right: 40px;
    }
}










/* profile inputs modal styles */
.editPorfileBtnCnt {
    position: absolute;
    height: 40px;
    bottom: 0;
    right: 12px;
    display: grid;
    place-content: center;
    font-size: .85em;
}

.editPorfileBtnCnt .editProfileBtn {
    padding: 2px 12px;
    cursor: pointer;
    border-radius: 4px;
    background: red;
}

.profileEditingInputsCnt {
    position: fixed;
    height: 100vh;
    width: 100%;
    z-index: 101;
    top: 0;
    left: 0;
    display: grid;
    place-content: center;
    backdrop-filter: brightness(.25);
    display: none;
}

.profileEditInputsBox {
    padding: 20px;
    width: 380px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--clr-white);
    border-radius: 12px;
    box-shadow: 0 0 12px;
}

.profileEditInputModalCloseCnt {
    height: 35px;
    width: 35px;
    display: grid;
    place-content: center;
    margin-left: auto;
    border-radius: 50%;
    cursor: pointer;
}

.pdinputsHead {
    font-size: 1.25em;
    font-weight: bold;
    margin: 12px 0;
    width: 100%;
}

label {
    width: 100%;
    margin: 6px;
    font-size: 14px;
}

.profileEditInputsBox input {
    width: 100%;
    padding: 4px;
    font-size: 16px;
    border-radius: 4px;
}

.profileEditInputsBox input[type=text] {
    border: 1px solid;
}

.inputsUpdateBtn {
    all: unset;
    padding: 6px;
    margin: 20px 0 0 0;
    min-width: 80px;
    text-align: center;
    cursor: pointer;
    border-radius: 4px;
    border: 1px solid;
}






















.footer-cnt {
    position: fixed;
    bottom: 0;
    width: 100%;
    transform: translateY(114px);
    transition: all .3s ease;

    width: fit-content;
    right: 6px;
}

.footer-cnt:hover {
    transform: translate(0);
    border-radius: 40px 40px 0 0;
    backdrop-filter: blur(40px);
    background: var(--glassy-bg-clr);
}

.footer-heading {
    width: fit-content;
    padding: 12px;
    margin: 12px auto;
    display: grid;
    place-content: center;

    height: 40px;
    width: 40px;
    border-radius: 50%;
    background: var(--js-yellow);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.footer-heading img {
    width: 20px;
    transition: all .3s ease;
    transform: rotate(180deg);
}

.footer-cnt:hover img {
    transform: rotate(360deg);
}

.footer-stng-cnt {
    padding: 12px;
}

.theme-changer {
    width: 45px;
    height: 45px;
    cursor: pointer;
    display: grid;
    place-content: center;
    margin-bottom: 12px;
}


.notes-cnt a {
    width: 45px;
    height: 45px;
    display: grid;
    place-content: center;
}
